<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
    <head>
        
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        
        <title>Skoolie</title>
        
    </head>
    <body> <h1>Users Page</h1>
        <table>
            <tr th:each="user : ${users}" >
                <td th:text="${user.username}">null</td>
                <td th:text="${user.email}">null</td>
            </tr>
        </table>
    </body>
</html>