<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
    <head>
        
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        
        <script th:replace="../templates/header:: jquery" />
        <script th:replace="../templates/header:: jqueryui" />
        <link th:replace="../templates/header:: jqueryuicss" />
        <link th:replace="../templates/header:: bootstrap" />
        <link th:replace="../templates/header:: bootstraptheme" />
        <script th:replace="../templates/header:: bootstrapjs" />
        
        <link th:replace="../templates/header:: sidebarcss" />
        
        <title>School Subjects and Courses</title>
        
    </head>
    <body>
        <div th:replace="../templates/header :: topmenubar">Menu Bar</div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-11 col-sm-offset-1">
                    <h1>School Subjects and Courses</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-xs-1">
                    <div th:replace="../templates/sidebar :: system-school">Side Bar</div>
                </div>
                <div class="col-sm-10 col-xs-11">
                    <div class="row">
                        <div class="col-sm-5 col-sm-offset-0 col-xs-11 col-xs-offset-1">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    Subjects
                                    <a href="#" class="btn btn-primary pull-right" data-target="#addSubject" data-toggle="modal" data-backdrop="false">Add Subject</a>
                                    <div id="addSubject" class="modal fade">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                    <h4>Subject</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <form action="#" th:action="@{/system/schedule/schoolyear}" th:object="${subjectBean}" method="post" role="form">
                                                        <div class="form-group">
                                                            <label for="name">Name</label>
                                                            <input class="form-control" id="name" name="name" type="text" th:value="${subjectBean.name}" />
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="panel-body">
                                    <ul id="subject-list" class="list-group">
                                        <li th:each="subjectBean : ${subjectBeans}" class="list-group-item" th:id="${subjectBean.id}">
                                            <h3 th:text="${subjectBean.name}">Subject</h3><span class="pull-right"><a href="#">Add Course</a></span>
                                            <h4 th:text="${'Code: ' + subjectBean.code}">Code</h4>
                                            <span th:text="${subjectBean.description}">Permission Desc</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5 col-sm-offset-0 col-xs-11 col-xs-offset-1">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    Courses
                                    <a href="#" class="btn btn-primary pull-right" data-target="#addCourse" data-toggle="modal" data-backdrop="false">Add Course</a>
                                    
                                    <div class="clearfix"></div>
                                </div>
                                <div class="panel-body">
                                    <ul id="course-list" class="list-group">
                                        <li th:each="courseBean : ${courseBeans}" class="list-group-item" th:id="${'course' + courseBean.subject.id}">
                                            <h3><a href="#" th:text="${courseBean.name}">Course</a></h3>
                                            <h4 th:text="${courseBean.description}">Code</h4>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="addCourse" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4>Course</h4>
                        </div>
                        <div class="modal-body">
                            <form action="#" th:action="@{/system/schedule/schoolyear}" th:object="${courseBean}" method="post" role="form">
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input class="form-control" id="name" name="name" type="text" th:value="${courseBean.name}" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <script type="text/javascript" th:inline="javascript">
            /*<![CDATA[*/
            $("#subject-list li").click(function() {
                $that = $(this);                
                if($that.hasClass('active')){
                    $that.removeClass('active');
                    showAllCourses();
                } else {
                    $('#subject-list').find('li').removeClass('active');
                    $that.addClass('active');
                    showCoursesBySubject(this.id);
                    //alert(this.id);
                }
            });
            
            function showCoursesBySubject(subject) {
                $("#course-list li").each(function() {
                    var id = $(this).attr("id");
                    if(id == "course"+subject) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            }
            
            function showAllCourses() {
                $("#course-list li").show();
            }
            /*]]>*/
        </script>
    </body>
</html>