<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
    <head>
        
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        
        <script th:replace="../templates/header:: jquery" />
        <script th:replace="../templates/header:: jqueryui" />
        <link th:replace="../templates/header:: jqueryuicss" />
        <link th:replace="../templates/header:: bootstrap" />
        <link th:replace="../templates/header:: bootstraptheme" />
        <script th:replace="../templates/header:: bootstrapjs" />
        
        <link th:replace="../templates/header:: sidebarcss" />
        
        <title>Grading Periods</title>
        
    </head>
    <body>
        <div th:replace="../templates/header :: topmenubar">Menu Bar</div>
        
        
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <h1>Grading Periods</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2">
                    <div th:replace="../templates/sidebar :: system-schedule">Side Bar</div>
                </div>
                <div class="col-xs-10">
                    <div class="row">
                        <div class="col-xs-2 col-xs-offset-9">
                            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#addGradingPeriodModal">Add Grading Period</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-10 col-md-10">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>School</th>
                                        <th>School Year</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="gpb : ${gradingPeriodBeans}" >
                                        <td th:text="${gpb.name}">null</td>
                                        <td th:text="${gpb.schoolYear.school.name}">null</td>
                                        <td th:text="${gpb.schoolYear.name}">null</td>
                                        <td th:text="${#dates.format(gpb.startDate, 'MMMM dd yyyy')}">null</td>
                                        <td th:text="${#dates.format(gpb.endDate, 'MMMM dd yyyy')}">null</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
            
                    <div id="addGradingPeriodModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4>Add Grading Period</h4>
                                </div>
                                <div class="modal-body">
                                    <form action="#" th:action="@{/system/schedule/gradingperiod}" th:object="${gradingPeriodBean}" method="post" role="form">
                                        <div class="form-group">
                                            <label for="name">Name</label><input class="form-control" id="name" type="text" th:field="*{name}" />
                                            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">username Error</span>
                                                
                                            <label for="startDate">Start Date (MM/DD/YYYY)</label><input class="form-control" id="startDate" type="text" th:field="*{startDate}" />
                                            <span th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}">Start Date Error</span>
                            
                                            <label for="endDate">End Date (MM/DD/YYYY)</label><input class="form-control" id="endDate" type="text" th:field="*{endDate}" />
                                            <span th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}">End Date Error</span>
                                    
                                            <label for="schoolYear">School Year</label><select class="form-control" id="type" th:field="*{schoolYear}">
                                                <option th:each="schoolYear : ${schoolYears}"
                                                        th:value="${schoolYear.id}"
                                                        th:text="${schoolYear.school.name + ' ' + schoolYear.name}">Type</option>
                                            </select>
                                    
                                        </div>
                                        <button type="submit" class="btn btn-primary">Submit</button>
                        
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <a href="#" class="btn btn-primary" data-dismiss="modal">Close</a>
                                </div>      
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function() {
                $("#startDate").datepicker();
                $("#endDate").datepicker();
            })
        </script>
    </body>
</html>
