<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
    <head>
        
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        
        <script th:replace="../templates/header:: jquery" />
        <script th:replace="../templates/header:: jqueryui" />
        <link th:replace="../templates/header:: jqueryuicss" />
        <link th:replace="../templates/header:: bootstrap" />
        <link th:replace="../templates/header:: bootstraptheme" />
        <script th:replace="../templates/header:: bootstrapjs" />
        
        <title>School Year</title>
        
    </head>
    <body>
        <div th:replace="../templates/header :: topmenubar">Menu Bar</div>
        <div class="container">
            <div class="row">
                <h1>School Year</h1>
            </div>
            <div class="row">
                <div class="col-xs-2 col-xs-offset-10">
                    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#addObjectModal">Create School Year</a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-md-10 col-md-offset-1 col-xs-offset-1">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>School</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="yr : ${schoolYearBeans}" >
                                <td th:text="${yr.name}">null</td>
                                <td th:text="${#dates.format(yr.startDate, 'MMMM dd yyyy')}">null</td>
                                <td th:text="${#dates.format(yr.endDate, 'MMMM dd yyyy')}">null</td>
                                <td th:text="${yr.school.name}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
            <div id="addObjectModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4>Add Year</h4>
                        </div>
                        <div class="modal-body">
                            <form action="#" th:action="@{/system/schedule/schoolyear}" th:object="${schoolYearBean}" method="post" role="form">
                                <div class="form-group">
                                    <label for="name">Name</label><input class="form-control" id="name" type="text" th:field="*{name}" />
                                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">username Error</span>
                            
                                    <label for="startDate">Start Date (MM/DD/YYYY)</label><input class="form-control" id="startDate" type="text" th:field="*{startDate}" />
                                    <span th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}">Start Date Error</span>
                            
                                    <label for="endDate">End Date (MM/DD/YYYY)</label><input class="form-control" id="endDate" type="text" th:field="*{endDate}" />
                                    <span th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}">End Date Error</span>
                                    
                                    <label for="school">School</label><select class="form-control" id="type" th:field="*{school}">
                                        <option th:each="school : ${allSchools}"
                                                th:value="${school.id}"
                                                th:text="${school.name}">Type</option>
                                    </select>
                                    
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                        
                            </form>
                        </div>
                        <div class="modal-footer">
                            <a href="#" class="btn btn-primary" data-dismiss="modal">Close</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function() {
                $("#startDate").datepicker();
                $("#endDate").datepicker();
            })
        </script>
    </body>
</html>
