<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
    <head>
        
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        
        <script th:replace="../templates/header:: jquery" />
        <script th:replace="../templates/header:: jqueryui" />
        <link th:replace="../templates/header:: jqueryuicss" />
        <link th:replace="../templates/header:: bootstrap" />
        <link th:replace="../templates/header:: bootstraptheme" />
        <script th:replace="../templates/header:: bootstrapjs" />
        <script th:replace="../templates/header:: modal-dropdown-fix"/>
        
        <link th:replace="../templates/header:: sidebarcss" />
        
        
        <title th:text="${schoolBean.name}">Skoolie School</title>
        
    </head>
    <body> 
        <div th:replace="../templates/header :: topmenubar">Menu Bar</div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-11 col-sm-offset-1">
                    <h1 th:text="${schoolBean.name}">School</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-xs-1">
                    <div th:replace="../templates/sidebar :: system-school">Side Bar</div>
                </div>
                
                <div class="col-sm-10 col-xs-11">
                    <div class="row">

                        <div class="col-sm-4 col-sm-offset-0 col-xs-10 col-xs-offset-2">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    School Info
                                </div>
                                <div class="panel-body">
                                    <label>Name</label><span th:text="${schoolBean.name}"/><br/>
                                    <label>Address</label><span th:text="${schoolBean.address}"/><br/>
                                    <label>City, ST Zip</label><span th:text="${schoolBean.city + ', ' + schoolBean.state + ' ' + schoolBean.postal}"/><br/>
                                    <label>Phone</label><span th:text="${schoolBean.phone}"/><br/>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-sm-offset-0 col-xs-10 col-xs-offset-2">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    School Schedule
                                </div>
                                <div class="panel-body" style="max-height: 300px;overflow-y: scroll;">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a data-toggle="tab" href="#schoolyear">School Year</a></li>
                                        <li><a data-toggle="tab" href="#gradingperiod">Grading Period</a></li>
                                        <li><a data-toggle="tab" href="#classtimeblock">Class Time Block</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div id="schoolyear" class="tab-pane fade in active">
                                            <table class="table table-striped table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>School Year</th>
                                                        <th>Start Date</th>
                                                        <th>End Date</th>
                                                        <th>Edit</th>
                                                    </tr>
                                                </thead>    
                                                <tbody>
                                                    <tr th:each="schoolYearBean : ${schoolBean.schoolYears}">
                                                        <td th:text="${schoolYearBean.name}"></td>
                                                        <td th:text="${#dates.format(schoolYearBean.startDate, 'MMMM dd yyyy')}"></td>
                                                        <td th:text="${#dates.format(schoolYearBean.endDate, 'MMMM dd yyyy')}"></td>
                                                        <td>
                                                            <a href="#" class="btn btn-primary" th:attr="data-target='#editModal' + ${schoolYearBean.id}" data-toggle="modal" data-backdrop="false">Edit</a>
                                                            <div th:id="${'editModal' + schoolYearBean.id}" class="modal fade">
                                                                <div class="modal-dialog">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">                                                                    
                                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                            <h4 th:text="${'Edit: ' + schoolYearBean.name}">Edit</h4>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                    
                                                                            <form action="#" th:action="@{/system/schedule/schoolyear}" th:object="${schoolYearBean}" method="post" role="form">
                                                                                <div class="form-group">
                                                                                    <label for="name">Name</label>
                                                                                    <input class="form-control" id="name" name="name" type="text" th:value="${schoolYearBean.name}" />
                                                                                            
                                                                                    <label for="startDate">Start Date (MM/DD/YYYY)</label>
                                                                                    <input class="form-control" name="startDate" th:id="${'startDate' + schoolYearBean.id}" 
                                                                                           th:value="${#dates.format(schoolYearBean.startDate, 'MM/dd/yyyy')}" />
                                                                                               
                                                                                    <label for="endDate">End Date (MM/DD/YYYY)</label>
                                                                                    <input class="form-control" id="endDate" name="endDate" th:id="${'endDate' + schoolYearBean.id}" 
                                                                                           th:value="${#dates.format(schoolYearBean.endDate, 'MM/dd/yyyy')}" />
                                    
                                                                                    <input type="hidden" th:value="${schoolYearBean.school.id}" id="school" name="school"/>
                                                                                    <input type="hidden" th:value="${schoolYearBean.id}" name="id" id="id"/>
                                                                                    
                                                                                </div>
                                                                                <button type="submit" class="btn btn-primary">Submit</button>                        
                                                                            </form>
                                                                            <script type="text/javascript" th:inline="javascript">
                                                                                $(function() {
                                                                                    $(/*[[${'#startDate' + schoolYearBean.id}]]*/).datepicker({
                                                                                        changeMonth: true,
                                                                                        changeYear: true,
                                                                                        defaultDate: /*[[${#dates.format(schoolYearBean.startDate, 'MM/dd/yyyy')}]]*/
                                                                                    });
                                                                                    $(/*[[${'#endDate' + schoolYearBean.id}]]*/).datepicker({
                                                                                        changeMonth: true,
                                                                                        changeYear: true,
                                                                                        defaultDate: /*[[${#dates.format(schoolYearBean.endDate, 'MM/dd/yyyy')}]]*/
                                                                                    });
                                                                                })
                                                                        
                                                                                $(/*[[${'#editModal' + schoolYearBean.id}]]*/).draggable({handle: ".modal-header"});
                                                                                    
                                                                            </script>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div id="gradingperiod" class="tab-pane fade">
                                            <div th:each="schoolYearBean : ${schoolBean.schoolYears}">
                                                <h4 th:text="${schoolYearBean.name}">School Year</h4>
                                                <table class="table table-striped table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Name</th>
                                                            <th>Start Date</th>
                                                            <th>End Date</th>
                                                            <th>Edit</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr th:each="gradingPeriodBean : ${schoolYearBean.gradingPeriods}">
                                                            <td th:text="${gradingPeriodBean.name}"></td>
                                                            <td th:text="${#dates.format(gradingPeriodBean.startDate, 'MMMM dd yyyy')}"></td>
                                                            <td th:text="${#dates.format(gradingPeriodBean.endDate, 'MMMM dd yyyy')}"></td>
                                                            <td>
                                                                <a href="#" class="btn btn-primary" th:attr="data-target='#editGPModal' + ${gradingPeriodBean.id}" data-toggle="modal"  data-backdrop="false">Edit</a>
                                                                <div th:id="${'editGPModal' + gradingPeriodBean.id}" class="modal fade" role="dialog">
                                                                    <div class="modal-dialog">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                                <h4 th:text="${'Edit: ' + gradingPeriodBean.name}">Edit</h4>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                <form action="#" th:action="@{/system/schedule/gradingperiod}" th:object="${gradingPeriodBean}" method="post" role="form">
                                                                                    <div class="form-group">
                                                                                        <label for="name">Name</label>
                                                                                        <input class="form-control" id="name" type="text" name="name"
                                                                                                                th:value="${gradingPeriodBean.name}" />
                                                
                                                                                        <label for="startDate">Start Date (MM/DD/YYYY)</label>
                                                                                        <input class="form-control" th:id="${'startDategp' + gradingPeriodBean.id}" 
                                                                                               name="startDate" type="text" th:value="${#dates.format(gradingPeriodBean.startDate, 'MM/dd/yyyy')}" />
                            
                                                                                        <label for="endDate">End Date (MM/DD/YYYY)
                                                                                        </label><input class="form-control" th:id="${'endDategp' + gradingPeriodBean.id}" 
                                                                                              name="endDate" type="text" th:value="${#dates.format(gradingPeriodBean.endDate, 'MM/dd/yyyy')}" />
                                                                                                    
                                                                                        <input type="hidden" th:value="${gradingPeriodBean.schoolYear.id}" name="schoolYear"/>
                                                                                        <input type="hidden" th:value="${gradingPeriodBean.id}" name="id"/>
                                    
                                                                                    </div>
                                                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                                                </form>
                                                                                <script type="text/javascript" th:inline="javascript">
                                                                                $(function() {
                                                                                    $(/*[[${'#startDategp' + gradingPeriodBean.id}]]*/).datepicker({
                                                                                        changeMonth: true,
                                                                                        changeYear: true,
                                                                                        minDate: /*[[${#dates.format(gradingPeriodBean.schoolYear.startDate, 'MM/dd/yyyy')}]]*/,
                                                                                        maxDate: /*[[${#dates.format(gradingPeriodBean.schoolYear.endDate, 'MM/dd/yyyy')}]]*/,
                                                                                        defaultDate: /*[[${#dates.format(gradingPeriodBean.startDate, 'MM/dd/yyyy')}]]*/
                                                                                    });
                                                                                    $(/*[[${'#endDategp' + gradingPeriodBean.id}]]*/).datepicker({
                                                                                        changeMonth: true,
                                                                                        changeYear: true,
                                                                                        minDate: /*[[${#dates.format(gradingPeriodBean.schoolYear.startDate, 'MM/dd/yyyy')}]]*/,
                                                                                        maxDate: /*[[${#dates.format(gradingPeriodBean.schoolYear.endDate, 'MM/dd/yyyy')}]]*/,
                                                                                        defaultDate: /*[[${#dates.format(gradingPeriodBean.endDate, 'MM/dd/yyyy')}]]*/
                                                                                    });
                                                                                })
                                                                                    
                                                                                $(/*[[${'#editGPModal' + gradingPeriodBean.id}]]*/).draggable({handle: ".modal-header"});
                                                                                    
                                                                                </script>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div id="classtimeblock" class="tab-pane fade">
                                            <div th:each="schoolYearBean : ${schoolBean.schoolYears}">
                                                <div th:each="gradingPeriodBean : ${schoolYearBean.gradingPeriods}">
                                                    <h4 th:text="${gradingPeriodBean.schoolYear.name + ' ' + gradingPeriodBean.name}">Grading period</h4>
                                                    <table class="table table-striped table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>Name</th>
                                                                <th>Start Time</th>
                                                                <th>End Time</th>
                                                                <th>Edit</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr th:each="classTimeBlockBean : ${gradingPeriodBean.classTimeBlocks}">
                                                                <td th:text="${classTimeBlockBean.gradingPeriod.name + ' ' + classTimeBlockBean.name}"></td>
                                                                <td th:text="${classTimeBlockBean.startHour + ':' + classTimeBlockBean.startMinute}"></td>
                                                                <td th:text="${classTimeBlockBean.endHour + ':' + classTimeBlockBean.endMinute}"></td>
                                                                <td>
                                                                    <a href="#" class="btn btn-primary" th:attr="data-target='#editCTBModal' + ${classTimeBlockBean.id}" data-toggle="modal"  data-backdrop="false">Edit</a>
                                                                    <div th:id="${'editCTBModal' + classTimeBlockBean.id}" class="modal fade" role="dialog">
                                                                        <div class="modal-dialog">
                                                                            <div class="modal-content">
                                                                                <div class="modal-header">
                                                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                                    <h4 th:text="${'Edit: ' + classTimeBlockBean.name}">Edit</h4>
                                                                                </div>
                                                                                <div class="modal-body">
                                                                                    <form action="#" th:action="@{/system/schedule/classtimeblock}" th:object="${classTimeBlockBean}" method="post" role="form">
                                                                                        <div class="form-group">
                                                                                            <label for="name">Name</label><input class="form-control" id="name" name="name" type="text" th:value="${classTimeBlockBean.name}" />
                                                                                                    
                                                                                            <label for="startHour">Start Hour</label>
                                                                                            <select class="form-control" id="startHour" name="startHour">
                                                                                                <option th:value="${classTimeBlockBean.startHour}" th:text="${classTimeBlockBean.startHour}">00</option>
                                                                                                <option th:each="i : ${#numbers.sequence(0,23)}"
                                                                                                        th:value="${i}" th:text="${#numbers.formatInteger(i,2)}">Hour</option>
                                                                                            </select>
                                                                                                
                                                                                            <label for="startMinute">Start Minute</label>
                                                                                            <select class="form-control" id="startMinute" name="startMinute">
                                                                                                <option th:value="${classTimeBlockBean.startMinute}" th:text="${classTimeBlockBean.startMinute}">00</option>
                                                                                                <option th:each="i : ${#numbers.sequence(0,59)}"
                                                                                                        th:value="${i}" th:text="${#numbers.formatInteger(i,2)}">Minute</option>
                                                                                            </select>
                                                                                    
                                                                                            <label for="endHour">End Hour</label>
                                                                                            <select class="form-control" id="endHour" name="endHour">
                                                                                                <option th:value="${classTimeBlockBean.endHour}" th:text="${classTimeBlockBean.endHour}">00</option>
                                                                                                <option th:each="i : ${#numbers.sequence(0,23)}"
                                                                                                        th:value="${i}" th:text="${#numbers.formatInteger(i,2)}">Hour</option>
                                                                                            </select>
                                                                                    
                                                                                            <label for="endMinute">End Minute</label>
                                                                                            <select class="form-control" id="endMinute" name="endMinute">
                                                                                                <option th:value="${classTimeBlockBean.endMinute}" th:text="${classTimeBlockBean.endMinute}">00</option>
                                                                                                <option th:each="i : ${#numbers.sequence(0,59)}"
                                                                                                        th:value="${i}" th:text="${#numbers.formatInteger(i,2)}">Minute</option>
                                                                                            </select>
                                                                                                
                                                                                            <input type="hidden" th:value="${classTimeBlockBean.gradingPeriod.id}" name="gradingPeriod"/>
                                                                                            <input type="hidden" th:value="${classTimeBlockBean.id}" name="id"/>
                                                                                    
                                                                                        </div>
                                                                                        <button type="submit" class="btn btn-primary">Submit</button>
                                                                                    </form>
                                                                                    <script type="text/javascript" th:inline="javascript">
                                                                                        $(/*[[${'#editCTBModal' + classTimeBlockBean.id}]]*/).draggable({handle: ".modal-header"});
                                                                                    </script>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    
                        </div>
                        <div class="col-sm-2 col-sm-offset-0 col-xs-10 col-xs-offset-2">
                            <p>Extra content</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
