<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title></title>
        
    </head>
    
    <body>
        <div th:fragment="system-schedule">
            <div id="sidebar" class="col-xs-2">
                <ul class="sidebar-nav">
                    <li><a th:href="@{/system/schedule}">Schedule</a></li>
                    <li><a th:href="@{/system/schedule/schoolyear}">School Year</a></li>
                    <li><a th:href="@{/system/schedule/gradingperiod}">Grading Period</a></li>
                    <li><a th:href="@{/system/schedule/classtimeblock}">Class Time Block</a></li>
                    <li><a th:href="@{/system/schedule/events}">Events</a></li>
                    <li><a th:href="@{/system/schedule/templates}">Templates</a></li>
                </ul>
            </div>
        </div>
        
        <div th:fragment="system-school">
            <div id="sidebar" class="col-xs-2">
                <ul class="sidebar-nav">
                    <li><a th:href="@{/system/schools/{id}(id=${schoolBean.id})}">Dashboard</a></li>
                    <li><a th:href="@{/system/schools/{id}/coursesidx(id=${schoolBean.id})}">Subjects and Courses</a></li>
                    <li><a th:href="@{/system/schools/{id}/calendar(id=${schoolBean.id})}">Calendar</a></li>
                    <li><a th:href="@{/system/schools/{id}/schedule(id=${schoolBean.id})}">Schedule</a></li>
                    <li><a th:href="@{/system/schools/{id}/rooms(id=${schoolBean.id})}">Rooms</a></li>
                    <li><a th:href="@{/system/schools/{id}/students(id=${schoolBean.id})}">Students</a></li>
                    <li><a th:href="@{/system/schools/{id}/teachers(id=${schoolBean.id})}">Teachers</a></li>
                    <li><a th:href="@{/system/schools/{id}/config(id=${schoolBean.id})}">Config</a></li>
                    <li><a th:href="@{/system/schools/{id}/settings(id=${schoolBean.id})}">Settings</a></li>
                </ul>
            </div>
        </div>
        
        <div th:fragment="system-users">
            <div id="sidebar" class="col-xs-2">
                <ul class="sidebar-nav">
                    <li><a th:href="@{/system/users}">Users</a></li>
                </ul>
            </div>
        </div>
        
        <div th:fragment="admin-school">
            <div id="sidebar" class="col-xs-2">
                <ul class="sidebar-nav">
                    <li><a th:href="@{/admin/schools/{id}(id=${schoolBean.id})}">Dashboard</a></li>
                    <li><a th:href="@{/admin/schools/{id}/courses(id=${schoolBean.id})}">Courses</a></li>
                    <li><a th:href="@{/admin/schools/{id}/calendar(id=${schoolBean.id})}">Calendar</a></li>
                    <li><a th:href="@{/admin/schools/{id}/schedule(id=${schoolBean.id})}">Schedule</a></li>
                    <li><a th:href="@{/admin/schools/{id}/rooms(id=${schoolBean.id})}">Rooms</a></li>
                    <li><a th:href="@{/admin/schools/{id}/config(id=${schoolBean.id})}">Config</a></li>
                    <li><a th:href="@{/admin/schools/{id}/settings(id=${schoolBean.id})}">Settings</a></li>
                </ul>
            </div>
        </div>
        
    </body>
</html>
