<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
    <head>
        
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        
        <script th:replace="../templates/header:: jquery" />
        <script th:replace="../templates/header:: jqueryui" />
        <link th:replace="../templates/header:: jqueryuicss" />
        <link th:replace="../templates/header:: bootstrap" />
        <link th:replace="../templates/header:: bootstraptheme" />
        <script th:replace="../templates/header:: bootstrapjs" />
        
        <title>Schedule</title>
        
    </head>
    <body>
        <div th:replace="../templates/header :: topmenubar">Menu Bar</div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-8">
                    <span sec:authorize="hasRole('ROLE_DISTRICT_ADMIN')">Setup templates:
                        <a th:href="@{/admin/schedule/templates}">Templates</a>
                    </span>
                    
                    
                    <a th:href="@{/admin/schedule/year}">School Year</a>
                    <a th:href="@{/admin/schedule/gradingperiod}">Grading Period</a>
                    <a th:href="@{/admin/schedule/classtimeblock}">Grading Period</a>
                    
                </div>
            </div>
        </div>
    </body>
</html>