<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
    <head>
        
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        
        <script th:replace="../templates/header:: jquery" />
        <script th:replace="../templates/header:: jqueryui" />
        <link th:replace="../templates/header:: jqueryuicss" />
        <link th:replace="../templates/header:: bootstrap" />
        <link th:replace="../templates/header:: bootstraptheme" />
        <script th:replace="../templates/header:: bootstrapjs" />
        
        <script th:replace="../templates/header:: moment"/>
        
        <script th:replace="../templates/header:: fullcalendarjs"/>
        
        <link th:replace="../templates/header:: fullcalendarcss"/>
        <link th:replace="../templates/header:: fullcalendarcssprint"/>
        
        
        <title>School Calendar</title>
        
    </head>
    <body> 
        <div th:replace="../templates/header :: topmenubar">Menu Bar</div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-2">
                    <h1 th:text="${schoolBean.name}">School</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            School Events
                        </div>
                        <div class="panel-body">
                            <div id="eventdragger" class="draggable">Event</div>
                    
                            <div id="halfdaydragger" class="draggable">Half Day</div>
                            
                            <div id="holidaydragger" class="draggable">Holiday</div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-xs-8">
                    <div id="calendar">
                        
                    </div>
                </div>
            </div>
            
        </div>
        
        <script type="text/javascript" th:inline="javascript">
            $(document).ready(function() {
                $('#calendar').fullCalendar({
                    droppable: true,
                    eventLimit: true,
                    drop: function(date) {
                        alert("dropped on " + date.format());
                    },
                    eventReceive: function(event) {
                        alert("dropped " + event.title + " on " + event.start.format());
                        var starttime = event.start.format('MM/DD/YYYY');
                        var genericname = "Event";
                        var schoolid = /*[[${schoolBean.id}]]*/ null;
                        $.ajax({
                            url: /*[[@{/system/schedule/events/school}]]*/ "../system/schedule/events/school",
                            type: "POST",
                            data: {name: event.name, title: event.title, start: starttime, name: genericname, school: schoolid}
                        });
                    },
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,agendaWeek,agendaDay'
                    },
                    selectable: true,
                    selectHelper: true,
                    editable: true,
                    durationEditable: true,
                    select: function(start, end) {
                        var title = prompt('Event Title:');
                        var evtname = "Event";
                        var schoolid = /*[[${schoolBean.id}]]*/ null;
                        var eventData;
                        if(title) {
                            eventData = {
                                title: title,
                                start: start.format('MM/DD/YYYY'),
                                end: end.format('MM/DD/YYYY'),
                                name: evtname,
                                school: schoolid
                            };
                            $.ajax({
                                url: /*[[@{/system/schedule/events/school}]]*/ "../system/schedule/events/school",
                                type: "POST",
                                data: eventData
                            });
                            $('#calendar').fullCalendar('renderEvent', eventData, true);
                        }
                        $('#calendar').fullCalendar('unselect');
                    },
                    dayClick: function(date, jsEvent, view) {
                        alert("clicked on: " + date.format());
                    },
                    eventClick: function(event, element) {
                        event.title="Clicked!";
                        $('#calendar').fullCalendar('updateEvent', event);
                    },
                    eventDrop: function(event, delta, revertFunc) {
                        var schoolid = /*[[${schoolBean.id}]]*/ null;
                        alert(event.name + "was dropped on " + event.start.format());
                        var starttime = event.start.format('MM/DD/YYYY');
                        if(event.end != null) {
                            var endtime = event.end.format('MM/DD/YYYY');
                        }
                        if(event.name == null) {
                            event.name = "Event";
                        }
                        if(!confirm("Are you sure about this change?")) {
                            revertFunc();
                        } else {
                            $.ajax({
                                url: /*[[@{/system/schedule/events/school}]]*/ "../system/schedule/events/school",
                                type: "POST",
                                data: {name: event.name, title: event.title, start: starttime, end: endtime, id: event.id, school: schoolid}
                            });
                            $('#calendar').fullCalendar('updateEvent', event);
                        }
                    },
                    eventSources: [
                        {
                            url: /*[[@{/system/schedule/events/school/{id}(id=${schoolBean.id})}]]*/ "../system/schedule/events/school",
                            editable: true,
                            durationEditable: true,
                        },
                        {
                            url: /*[[@{/system/schedule/events/district/{id}(id=${schoolBean.district.id})}]]*/ "../system/schedule/events/district",
                            editable: false,
                            durationEditable: false,
                            color: 'black',
                        },
                        {
                            url: /*[[@{/system/schools/{school}/calendar/schoolyear(school=${schoolBean.id})}]]*/ "../system/schools/calendar/schoolyear",
                            editable: false,
                            durationEditable: false,
                            color: 'gray',
                            eventDataTransform: function (rawEvent) {
                                return {
                                    id: rawEvent.id,
                                    title: rawEvent.name,
                                    start: rawEvent.startDate,
                                    end: rawEvent.endDate,
                                }
                            }
                        },
                        {
                            url: /*[[@{/system/schools/{school}/calendar/gradingperiod(school=${schoolBean.id})}]]*/ "../system/schools/calendar/gradingperiod",
                            editable: false,
                            durationEditable: false,
                            color: 'gray',
                            eventDataTransform: function (rawEvent) {
                                return {
                                    id: rawEvent.id,
                                    title: rawEvent.name,
                                    start: rawEvent.startDate,
                                    end: rawEvent.endDate,
                                }
                            }
                        }
                    ]
                });
                
                $('.draggable').draggable({
                    revert: true
                });
                $('#eventdragger').data('event', { title: 'my event' });
                $('#halfdaydragger').data('event', { title: 'HalfDay'});
                $('#holidaydragger').data('event', { title: 'Holiday'});
                
            })
        </script>
    </body>
</html>