<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
    <head>
        
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        
        <script th:replace="../templates/header:: jquery" />
        <script th:replace="../templates/header:: jqueryui" />
        <link th:replace="../templates/header:: jqueryuicss" />
        <link th:replace="../templates/header:: bootstrap" />
        <link th:replace="../templates/header:: bootstraptheme" />
        <script th:replace="../templates/header:: bootstrapjs" />
        
        <link th:replace="../templates/header:: sidebarcss" />
        
        <title>Events</title>
        
    </head>
    <body>
        <div th:replace="../templates/header :: topmenubar">Menu Bar</div>
        
        
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <h1>Events</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2">
                    <div th:replace="../templates/sidebar :: system-schedule">Side Bar</div>
                </div>
                <div class="col-xs-10">
                    Need to make ability to add events here
                </div>
            </div>
        </div>     
    </body>
</html>