<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
    <head>
        
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        
        <script th:replace="../templates/header:: jquery" />
        <script th:replace="../templates/header:: jqueryui" />
        <link th:replace="../templates/header:: jqueryuicss" />
        <link th:replace="../templates/header:: bootstrap" />
        <link th:replace="../templates/header:: bootstraptheme" />
        <script th:replace="../templates/header:: bootstrapjs" />
        
        
        <title>Skoolie Schools</title>
        
    </head>
    <body> 
        <div th:replace="../templates/header :: topmenubar">Menu Bar</div>
        <div class="container">
            <div class="row">
                <h1>Schools</h1>
            </div>
            <div class="row">
                <div class="col-xs-2 col-xs-offset-10">
                    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#addSchoolModal">Add School</a>
                </div>
                
            </div>
            <div class="row">
                <div class="col-xs-10 col-md-10 col-md-offset-1 col-xs-offset-1">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Address</th>
                                <th>City State Zip</th>
                                <th>Phone</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="school : ${schools}" >
                                <td><a th:href="@{/system/schools/{id}(id=${school.id})}" th:text="${school.name}">null</a></td>
                                <td th:text="${school.address}">null</td>
                                <td th:text="${school.city}">null</td>
                                <td th:text="${school.phone}">null</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="addSchoolModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4>Add User</h4>
                        </div>
                        <div class="modal-body">
                            <!--/* Not sure why yet but validation errors aren't working right */-->
                            
                            <form action="#" th:action="@{/system/schools}" th:object="${schoolBean}" method="post" role="form">
                                <div class="form-group">
                                    <label for="name">Name</label><input class="form-control" id="name" type="text" th:field="*{name}" />
                                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
                                    <label for="address">Address</label><input class="form-control" id="address" type="text" th:field="*{address}" />
                                    <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Name Error</span>
                                    <label for="city">City</label><input class="form-control" id="city" type="text" th:field="*{city}"/>
                                    <span th:if="${#fields.hasErrors('city')}" th:errors="*{city}">Name Error</span>
                                    <label for="state">State</label><input class="form-control" id="state" type="text" th:field="*{state}"/>
                                    <span th:if="${#fields.hasErrors('state')}" th:errors="*{state}">Name Error</span>
                                    <label for="postal">Postal/Zip</label><input class="form-control" id="postal" type="text" th:field="*{postal}"/>
                                    <span th:if="${#fields.hasErrors('postal')}" th:errors="*{postal}">Name Error</span>
                                    <label for="phone">Phone</label><input class="form-control" type="text" id="phone" th:field="*{phone}"/>
                                    <span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Name Error</span>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <a href="#" class="btn btn-primary" data-dismiss="modal">Close</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </body>
</html>