<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
    <head>
        
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        
        <script th:replace="../templates/header:: jquery" />
        <script th:replace="../templates/header:: jqueryui" />
        <link th:replace="../templates/header:: jqueryuicss" />
        <link th:replace="../templates/header:: bootstrap" />
        <link th:replace="../templates/header:: bootstraptheme" />
        <script th:replace="../templates/header:: bootstrapjs" />
        
        
        <title th:text="${userBean.username}">Skoolie</title>
        
    </head>
    <body> 
        <div th:replace="../templates/header :: topmenubar">Menu Bar</div>
        
        <div class="container-fluid">
            <div class="row">
                <h1>Edit User</h1>
            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-1 col-xs-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">User Details</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#user">User</a></li>
                                <li><a data-toggle="tab" href="#type" th:text="${userBean.type}">Type</a></li>
                                <li><a data-toggle="tab" href="#security">Security</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="user" class="tab-pane fade in active">
                                    <div class="row">
                                        <div class="col-xs-11 col-xs-offset-1">
                                            <h2>User</h2>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-5 col-xs-offset-1">
                                            <ul class="list-group">
                                                <li class="list-group-item">
                                                    <h4>Username</h4>
                                                    <span th:text="${userBean.username}">Username</span>
                                                </li>
                                                <li class="list-group-item">
                                                    <h4>Email</h4>
                                                    <span th:text="${userBean.email}">Email</span>
                                                </li>
                                                <li class="list-group-item">
                                                    <h4>Type</h4>
                                                    <span th:text="${userBean.type}">Type</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-xs-6">
                                            
                                        </div>
                                    </div>
                                </div>
                                
                                
                                
                                <!--/* Different tabs per type of user, need to fix this */-->
                                <div id="type" class="tab-pane fade">
                                    <div th:switch="${userBean.type}">
                                        <div th:case="'DISTRICT_ADMIN'">
                                            <div class="row">
                                                <div class="col-xs-11 col-xs-offset-1">
                                                    <h2 th:text="${districtAdminBean.username}">Username</h2>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-6 col-xs-offset-1">
                                                    <ul class="list-group">
                                                        <li class="list-group-item">
                                                            <h4>Address</h4>
                                                            <span th:text="${districtAdminBean.addressOne}"></span>
                                                        </li>
                                                        <li class="list-group-item">
                                                            <h4>City</h4>
                                                            <span th:text="${districtAdminBean.city}"></span>
                                                        </li>
                                                        <li class="list-group-item">
                                                            <h4>State</h4>
                                                            <span th:text="${districtAdminBean.state}"></span>
                                                        </li>
                                                        <li class="list-group-item">
                                                            <h4>Zipcode</h4>
                                                            <span th:text="${districtAdminBean.postal}"></span>
                                                        </li>
                                                        <li class="list-group-item">
                                                            <h4>District</h4>
                                                            <span th:text="${districtAdminBean.district != null} ? ${districtAdminBean.district.name}"></span>
                                                        </li>
                                                    </ul>
                                                    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#addDistrictAdminModal">Edit/Add Admin</a>
                                                </div>
                                                
                                                <div id="addDistrictAdminModal" class="modal fade" role="dialog">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h4>Edit District Admin</h4>                                                            
                                                            </div>
                                                            <div class="modal-body">
                                                                <form action="#" th:action="@{/system/people/faculty/districtadmin}" th:object="${districtAdminBean}" method="post" role="form">
                                                                    <div class="form-group">
                                                                        <label for="username">Username</label><span th:text="${districtAdminBean.username}"></span><br/>
                                                                        <input type="hidden" name="username" id="username" th:value="${districtAdminBean.user.username}"/>
                                                                        <input type="hidden" name="user" id="user" th:value="${districtAdminBean.user.username}"/>
                                                                        <label for="addressOne">Address</label><input class="form-control" id="addressOne" type="text" name="addressOne" />
                                                                        <label for="city">City</label><input class="form-control" id="city" type="text" name="city" />
                                                                        <label for="state">State</label><input class="form-control" id="state" type="text" name="state" />
                                                                        <label for="postal">Postal</label><input class="form-control" id="postal" type="text" name="postal" />
                                                                        <label for="primarySchool">Primary School</label>
                                                                            <select class="form-control" th:field="*{district}">
                                                                                <option th:each="district : ${allDistricts}"
                                                                                        th:value="${district.id}"
                                                                                        th:text="${district.name}">
                                                                                    District
                                                                                </option>
                                                                            </select>
                                                                    </div>
                                                                
                                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-5">
                                                    <div class="row">
                                                        Meh
                                                    </div>
                                                    <div class="row">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div th:case="'STUDENT'">
                                            <div class="row">
                                                <h2 th:text="${studentBean.username}">Username</h2>
                                            </div>
                                            <div class="row">
                                                I'm a student
                                            </div>
                                        </div>
                                        
                                        <div th:case="'TEACHER'">
                                            <div class="row">
                                                <h2 th:text="${teacherBean.username}">Username</h2>
                                            </div>
                                            <div class="row">
                                                <ul>
                                                    <li><span th:text="${teacherBean.addressOne}"></span></li>
                                                    <li><span th:text="${teacherBean.city}"></span></li>
                                                    <li><span th:text="${teacherBean.postal}"></span></li>
                                                    <li><span th:text="${teacherBean.state}"></span></li>
                                                </ul>
                                            </div>
                                            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#addTeacherModal">Edit/Add Teacher</a>
                                            <div id="addTeacherModal" class="modal fade" role="dialog">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4>Edit Teacher</h4>                                                            
                                                        </div>
                                                        <div class="modal-body">
                                                            <form action="#" th:action="@{/system/people/faculty/teacher}" th:object="${teacherBean}" method="post" role="form">
                                                                <div class="form-group">
                                                                    <label for="username">Username</label><span th:text="${teacherBean.username}"></span>
                                                                    <input type="hidden" name="username" id="username" th:value="${teacherBean.user.username}"/>
                                                                    <input type="hidden" name="user" id="user" th:value="${teacherBean.user.username}"/>
                                                                    <label for="addressOne">Address</label><input class="form-control" id="addressOne" type="text" name="addressOne" />
                                                                    <label for="city">City</label><input class="form-control" id="city" type="text" name="city" />
                                                                    <label for="postal">Postal</label><input class="form-control" id="postal" type="text" name="postal" />
                                                                    <label for="state">State</label><input class="form-control" id="state" type="text" name="state" />
                                                                </div>
                                                                
                                                                <button type="submit" class="btn btn-primary">Submit</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div th:case="'SCHOOL_ADMIN'">
                                            <div class="row">
                                                <h2 th:text="${schoolAdminBean.username}">Username</h2>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-6 col-xs-offset-1">
                                                    <ul class="list-group">
                                                        <li class="list-group-item">
                                                            <h4>Address</h4>
                                                            <span th:text="${schoolAdminBean.addressOne}"></span>
                                                        </li>
                                                        <li class="list-group-item">
                                                            <h4>City</h4>
                                                            <span th:text="${schoolAdminBean.city}"></span>
                                                        </li>
                                                        <li class="list-group-item">
                                                            <h4>State</h4>
                                                            <span th:text="${schoolAdminBean.state}"></span>
                                                        </li>
                                                        <li class="list-group-item">
                                                            <h4>Zipcode</h4>
                                                            <span th:text="${schoolAdminBean.postal}"></span>
                                                        </li>
                                                        <li class="list-group-item">
                                                            <h4>Primary School</h4>
                                                            <span th:text="${schoolAdminBean.primarySchool.name}"></span>
                                                        </li>
                                                    </ul>
                                                    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#addSchoolAdminModal">Edit/Add Admin</a>
                                                </div>
                                            </div>
                                            <div id="addSchoolAdminModal" class="modal fade" role="dialog">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4>Edit School Admin</h4>                                                            
                                                        </div>
                                                        <div class="modal-body">
                                                            <form action="#" th:action="@{/system/people/faculty/schooladmin}" th:object="${schoolAdminBean}" method="post" role="form">
                                                                <div class="form-group">
                                                                    <label for="username">Username</label><span th:text="${schoolAdminBean.username}"></span>
                                                                    <input type="hidden" name="username" id="username" th:value="${schoolAdminBean.user.username}"/>
                                                                    <input type="hidden" name="user" id="user" th:value="${schoolAdminBean.user.username}"/>
                                                                    <label for="addressOne">Address</label><input class="form-control" id="addressOne" type="text" name="addressOne" th:value="${schoolAdminBean.addressOne}"/>
                                                                    <label for="city">City</label><input class="form-control" id="city" type="text" name="city" th:value="${schoolAdminBean.city}"/>
                                                                    <label for="postal">Postal</label><input class="form-control" id="postal" type="text" name="postal" th:value="${schoolAdminBean.postal}"/>
                                                                    <label for="state">State</label><input class="form-control" id="state" type="text" name="state" th:value="${schoolAdminBean.state}"/>
                                                                    <label for="primarySchool">Primary School</label>
                                                                    <select class="form-control" th:field="*{primarySchool}">
                                                                        <option th:each="school : ${allSchools}"
                                                                                th:value="${school.id}"
                                                                                th:text="${school.name}">
                                                                            School
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                                
                                                                <button type="submit" class="btn btn-primary">Submit</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div th:case="'PARENT'">
                                            <div class="row">
                                                <h2 th:text="${parentBean.username}">Username</h2>
                                            </div>
                                            <div class="row">
                                                I'm a parent
                                            </div>
                                        </div>
                                        
                                        <div th:case="'SYSTEM'">
                                            <div class="row">
                                                <h2>System</h2>
                                            </div>
                                            <div class="row">
                                                I'm system
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div id="security" class="tab-pane">
                                    <div class="row">
                                        <div class="col-xs-11 col-xs-offset-1">
                                            <h2>Security</h2>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-5 col-xs-offset-1">
                                            <h4>Groups</h4>
                                            <ul class="list-group">
                                                <li class="list-group-item">
                                                    <h4>Group Name</h4>
                                                    <span>Group Desc</span>
                                                </li>
                                                <li class="list-group-item">
                                                    <h4>Group Name</h4>
                                                    <span>Group Desc</span>
                                                </li>
                                                <li class="list-group-item">
                                                    <h4>Group Name</h4>
                                                    <span>Group Desc</span>
                                                </li>
                                            </ul>
                                            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#editGroups">Edit Groups</a>
                                        </div>
                                        <div class="col-xs-6">
                                            <h4>Permissions</h4>
                                            <ul class="list-group">
                                                <li class="list-group-item">
                                                    <h4>Permission Name</h4>
                                                    <span>Permission Desc</span>
                                                </li>
                                                <li class="list-group-item">
                                                    <h4>Permission Name</h4>
                                                    <span>Permission Desc</span>
                                                </li>
                                                <li class="list-group-item">
                                                    <h4>Permission Name</h4>
                                                    <span>Permission Desc</span>
                                                </li>
                                            </ul>
                                            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#editPermissions">Edit Permissions</a>
                                        </div>
                                    </div>
                                    <script>
                                        $(function() {
                                            $("#userGroupsList, #availableGroupsList").sortable({
                                                connectWith: ".connectedSortable",
                                                update: function(event,ui) {
                                                    alert("You sure you want to do that?");
                                                }
                                            }).disableSelection();
                                        });
                                    </script>
                                    <div id="editGroups" class="modal fade" role="dialog">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4>Edit Groups</h4>                                                            
                                                </div>
                                                <div class="modal-body">
                                                    <ul id="userGroupsList" class="connectedSortable list-group">
                                                        <li class="list-group-item">Item 1</li>
                                                        <li class="list-group-item">Item 2</li>
                                                        <li class="list-group-item">Item 3</li>
                                                        <li class="list-group-item">Item 4</li>
                                                    </ul>
                                                    
                                                    <ul id="availableGroupsList" class="connectedSortable list-group">
                                                        <li class="list-group-item">Item a</li>
                                                        <li class="list-group-item">Item b</li>
                                                        <li class="list-group-item">Item c</li>
                                                        <li class="list-group-item">Item d</li>
                                                    </ul>
                                                </div>                                                    
                                            </div>                                                
                                        </div>
                                    </div>
                                    
                                    <div id="editPermissions" class="modal fade" role="dialog">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4>Edit Permissions</h4>                                                            
                                                </div>
                                                <div class="modal-body">
                                                    
                                                </div>                                                    
                                            </div>                                                
                                        </div>
                                    </div>
                                    
                                </div>                                
                            </div>
                        </div>
                    </div>                
                </div>
            </div>
        </div>
    </body>
</html>