<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
    <head>
        
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        
        <script th:replace="../templates/header:: jquery" />
        <script th:replace="../templates/header:: jqueryui" />
        <link th:replace="../templates/header:: jqueryuicss" />
        <link th:replace="../templates/header:: bootstrap" />
        <link th:replace="../templates/header:: bootstraptheme" />
        <script th:replace="../templates/header:: bootstrapjs" />
        
        
        <title th:text="${userBean.username}">Skoolie</title>
        
    </head>
    <body> 
        <div th:replace="../templates/header :: topmenubar">Menu Bar</div>
        
        <div class="container-fluid">
            <div class="row">
                <h1>Edit User</h1>
            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-1 col-xs-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">User Details</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#user">User</a></li>
                                <li><a data-toggle="tab" href="#type" th:text="${userBean.type}">Type</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="user" class="tab-pane fade in active">
                                    <ul>
                                        <li th:text="${userBean.username}">null</li>
                                        <li th:text="${userBean.email}">null</li>
                                        <li th:text="${userBean.type}">null</li>
                                    </ul>
                                </div>
                                
                                
                                
                                <!--/* Different tabs per type of user, need to fix this */-->
                                <div id="type" class="tab-pane fade">
                                    <div th:switch="${userBean.type}">
                                        <div th:case="'DISTRICT_ADMIN'">
                                            <h2 th:text="${districtAdminBean.username}">Username</h2>
                                            <ul>
                                                <li><span th:text="${districtAdminBean.addressOne}"></span></li>
                                                <li><span th:text="${districtAdminBean.city}"></span></li>
                                                <li><span th:text="${districtAdminBean.postal}"></span></li>
                                                <li><span th:text="${districtAdminBean.state}"></span></li>
                                            </ul>
                                            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#addDistrictAdminModal">Edit/Add Admin</a>
                                            <div id="addDistrictAdminModal" class="modal fade" role="dialog">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4>Edit District Admin</h4>                                                            
                                                        </div>
                                                        <div class="modal-body">
                                                            <form action="#" th:action="@{/system/people/faculty/districtadmin}" th:object="${districtAdminBean}" method="post" role="form">
                                                                <div class="form-group">
                                                                    <label for="username">Username</label><span th:text="${districtAdminBean.username}"></span>
                                                                    <input type="hidden" name="username" id="username" th:value="${districtAdminBean.user.username}"/>
                                                                    <input type="hidden" name="user" id="user" th:value="${districtAdminBean.user.username}"/>
                                                                    <label for="addressOne">Address</label><input class="form-control" id="addressOne" type="text" name="addressOne" />
                                                                    <label for="city">City</label><input class="form-control" id="city" type="text" name="city" />
                                                                    <label for="postal">Postal</label><input class="form-control" id="postal" type="text" name="postal" />
                                                                    <label for="state">State</label><input class="form-control" id="state" type="text" name="state" />
                                                                </div>
                                                                
                                                                <button type="submit" class="btn btn-primary">Submit</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div th:case="'STUDENT'">
                                            I'm a student
                                        </div>
                                        
                                        <div th:case="'TEACHER'">
                                            <h2 th:text="${teacherBean.username}">Username</h2>
                                            <ul>
                                                <li><span th:text="${teacherBean.addressOne}"></span></li>
                                                <li><span th:text="${teacherBean.city}"></span></li>
                                                <li><span th:text="${teacherBean.postal}"></span></li>
                                                <li><span th:text="${teacherBean.state}"></span></li>
                                            </ul>
                                            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#addTeacherModal">Edit/Add Teacher</a>
                                            <div id="addTeacherModal" class="modal fade" role="dialog">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4>Edit Teacher</h4>                                                            
                                                        </div>
                                                        <div class="modal-body">
                                                            <form action="#" th:action="@{/system/people/faculty/teacher}" th:object="${teacherBean}" method="post" role="form">
                                                                <div class="form-group">
                                                                    <label for="username">Username</label><span th:text="${teacherBean.username}"></span>
                                                                    <input type="hidden" name="username" id="username" th:value="${teacherBean.user.username}"/>
                                                                    <input type="hidden" name="user" id="user" th:value="${teacherBean.user.username}"/>
                                                                    <label for="addressOne">Address</label><input class="form-control" id="addressOne" type="text" name="addressOne" />
                                                                    <label for="city">City</label><input class="form-control" id="city" type="text" name="city" />
                                                                    <label for="postal">Postal</label><input class="form-control" id="postal" type="text" name="postal" />
                                                                    <label for="state">State</label><input class="form-control" id="state" type="text" name="state" />
                                                                </div>
                                                                
                                                                <button type="submit" class="btn btn-primary">Submit</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div th:case="'SCHOOL_ADMIN'">
                                            <div class="row">
                                                <h2 th:text="${schoolAdminBean.username}">Username</h2>
                                            </div>
                                            <div class="row">
                                                <ul>
                                                    <li><span th:text="${schoolAdminBean.addressOne}"></span></li>
                                                    <li><span th:text="${schoolAdminBean.city}"></span></li>
                                                    <li><span th:text="${schoolAdminBean.postal}"></span></li>
                                                    <li><span th:text="${schoolAdminBean.state}"></span></li>
                                                </ul>
                                            </div>
                                            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#addSchoolAdminModal">Edit/Add Admin</a>
                                            <div id="addSchoolAdminModal" class="modal fade" role="dialog">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4>Edit School Admin</h4>                                                            
                                                        </div>
                                                        <div class="modal-body">
                                                            <form action="#" th:action="@{/system/people/faculty/schooladmin}" th:object="${schoolAdminBean}" method="post" role="form">
                                                                <div class="form-group">
                                                                    <label for="username">Username</label><span th:text="${schoolAdminBean.username}"></span>
                                                                    <input type="hidden" name="username" id="username" th:value="${schoolAdminBean.user.username}"/>
                                                                    <input type="hidden" name="user" id="user" th:value="${schoolAdminBean.user.username}"/>
                                                                    <label for="addressOne">Address</label><input class="form-control" id="addressOne" type="text" name="addressOne" />
                                                                    <label for="city">City</label><input class="form-control" id="city" type="text" name="city" />
                                                                    <label for="postal">Postal</label><input class="form-control" id="postal" type="text" name="postal" />
                                                                    <label for="state">State</label><input class="form-control" id="state" type="text" name="state" />
                                                                </div>
                                                                
                                                                <button type="submit" class="btn btn-primary">Submit</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div th:case="'PARENT'">
                                            I'm a parent
                                        </div>
                                        
                                        <div th:case="'SYSTEM'">
                                            I'm system
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>                
                </div>
            </div>
        </div>
    </body>
</html>