<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
    <head>
        
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        
        <script th:replace="../templates/header:: jquery" />
        <script th:replace="../templates/header:: jqueryui" />
        <link th:replace="../templates/header:: jqueryuicss" />
        <link th:replace="../templates/header:: bootstrap" />
        <link th:replace="../templates/header:: bootstraptheme" />
        <script th:replace="../templates/header:: bootstrapjs" />
        
        
        <title th:text="${userBean.username}">Skoolie</title>
        
    </head>
    <body> 
        <div th:replace="../templates/header :: topmenubar">Menu Bar</div>
        
        <div class="container-fluid">
            <div class="row">
                <h1>Edit User</h1>
            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-1 col-xs-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">User Details</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#user">User</a></li>
                                <li><a data-toggle="tab" href="#type" th:text="${userBean.type}">Type</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="user" class="tab-pane fade in active">
                                    <ul>
                                        <li th:text="${userBean.username}">null</li>
                                        <li th:text="${userBean.email}">null</li>
                                        <li th:text="${userBean.type}">null</li>
                                    </ul>
                                </div>
                                
                                
                                
                                <!--/* Different tabs per type of user, need to fix this */-->
                                <div id="type" class="tab-pane fade">
                                    <div th:switch="${userBean.type}">
                                        <div th:case="'DISTRICT_ADMIN'">
                                            <h2 th:text="${districtAdminBean.username}">USername</h2>
                                            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#addDistrictAdminModal">Edit/Add Admin</a>
                                            <div id="addDistrictAdminModal" class="modal fade" role="dialog">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4>Edit District Admin</h4>                                                            
                                                        </div>
                                                        <div class="modal-body">
                                                            <form action="#" th:action="@{/system/people/faculty/districtadmin}" th:object="${districtAdminBean}" method="post" role="form">
                                                                <div class="form-group">
                                                                    <label for="username">Username</label><span th:text="${districtAdminBean.username}"></span>
                                                                    <label for="address">Address</label><input class="form-control" id="address" type="text" name="address" />
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div th:case="'STUDENT'">
                                            
                                        </div>
                                        
                                        <div th:case="'TEACHER'">
                                            
                                        </div>
                                        
                                        <div th:case="'SCHOOL_ADMIN'">
                                            <h2 th:text="${schoolAdminBean.username}">USername</h2>
                                        </div>
                                        
                                        <div th:case="'PARENT'">
                                            
                                        </div>
                                        
                                        <div th:case="'SYSTEM'">
                                            
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>                
                </div>
            </div>
        </div>
    </body>
</html>