<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
    <head>
        
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        
        <script th:replace="../templates/header:: jquery" />
        <script th:replace="../templates/header:: jqueryui" />
        <link th:replace="../templates/header:: jqueryuicss" />
        <link th:replace="../templates/header:: bootstrap" />
        <link th:replace="../templates/header:: bootstraptheme" />
        <script th:replace="../templates/header:: bootstrapjs" />
        
        <title>GP Class Schedule</title>
        
    </head>
    <body>
        <div th:replace="../templates/header :: topmenubar">Menu Bar</div>
        
        
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Class Schedule</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#byTeacher">By Teacher</a></li>
                                <li><a data-toggle="tab" href="#byClassroom">By Classroom</a></li>
                            </ul>
                            
                            <div class="tab-content">
                                <div id="byTeacher" class="tab-pane fade in active">
                                    <div class="col-xs-10 col-sm-10 col-md-10">
                                        <div class="col-xs-10 col-sm-10 col-md-10">
                                            <div class="panel panel-primary">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">Schedule</h3>
                                                </div>
                                                <div class="panel-body">
                                                    
                                                    <table class="table table-bordered table-responsive">
                                                        <tr>
                                                            <th>Teacher</th>
                                                            <th th:each="classTimeBlockBean : ${classTimeBlockBeans}" th:text="${classTimeBlockBean.name}">Class time blocks</th>
                                                        </tr>
                                                        <tr th:each="teacherBean : ${teacherBeans}">
                                                            <td>
                                                                <div class="col-xs-12">
                                                                <a th:href="@{/system/people/faculty/teacher/{username}(username=${teacherBean.user.username})}" 
                                                                   th:text="${teacherBean.user.firstName + ' ' + teacherBean.user.lastName}">
                                                                    Teacher
                                                                </a>
                                                                </div>
                                                                <div class="col-xs-6">
                                                                <ul class="list-group">
                                                                    <li class="list-group-item">
                                                                        Subjects
                                                                    </li>
                                                                </ul>
                                                                </div>
                                                                <div class="col-xs-6">
                                                                <ul class="list-group col-xs-6">
                                                                    <li class="list-group-item">
                                                                        assign room
                                                                    </li>
                                                                </ul>
                                                                </div>
                                                            </td>
                                                            <td th:each="classTimeBlockBean : ${classTimeBlockBeans}" th:text="${classTimeBlockBean.name}">CTBs</td>
                                                        </tr>
                                                    </table>                                        
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 col-md-2">
                                            <div class="panel panel-primary">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">Available Courses</h3>
                                                </div>
                                                <div class="panel-body">
                                                    <table>
                                                        <tr>
                                                            <th>First Name</th>
                                                            <th>Last Name</th>
                                                        </tr>
                                                        <tr th:each="schoolRoomBean : ${schoolRoomBeans}">
                                                            <td><div th:id="${schoolRoomBean.id}" class="draggable" th:text="${schoolRoomBean.name}">room</div></td>
                                                            <td th:text="${schoolRoomBean.name}"></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div id="byClassroom" class="tab-pane fade">
                                    <table>
                                        <tr>
                                            <th>Name</th>
                                            <th></th>
                                        </tr>
                                        <tr th:each="schoolRoomBean : ${schoolRoomBeans}">
                                            <td th:text="${schoolRoomBean.name}"></td>
                                            <td>text</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <script type="text/javascript">
            $('.draggable').draggable({
                revert: true
            });
        </script>
    </body>
</html>