<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
    <head>
        
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        
        <script th:replace="../templates/header:: jquery" />
        <script th:replace="../templates/header:: jqueryui" />
        <link th:replace="../templates/header:: jqueryuicss" />
        <link th:replace="../templates/header:: bootstrap" />
        <link th:replace="../templates/header:: bootstraptheme" />
        <script th:replace="../templates/header:: bootstrapjs" />
        
        <title>Class Schedule</title>
        
    </head>
    <body>
        <div th:replace="../templates/header :: topmenubar">Menu Bar</div>
        <ul id="subject-list" class="list-group">
            <li th:each="gradingPeriodBean : ${gradingPeriodBeans}" class="list-group-item" th:id="${gradingPeriodBean.id}">
                <h3><a href="#" th:text="${gradingPeriodBean.name}">Subject</a></h3>
                <h4 th:text="${gradingPeriodBean.startDate}">Code</h4>
                <span th:text="${gradingPeriodBean.endDate}">Permission Desc</span>
            </li>
        </ul>
    </body>
</html>