<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
    <head>
        
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        
        <script th:replace="../templates/header:: jquery" />
        <script th:replace="../templates/header:: jqueryui" />
        <link th:replace="../templates/header:: jqueryuicss" />
        <link th:replace="../templates/header:: bootstrap" />
        <link th:replace="../templates/header:: bootstraptheme" />
        <script th:replace="../templates/header:: bootstrapjs" />
        
        
        <title>Courses</title>
        
    </head>
    <body> 
        <div th:replace="../templates/header :: topmenubar">Menu Bar</div>
        
        
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-11 col-xs-offset-1">
                    <h1>Courses</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2 col-xs-offset-10">
                </div>
                
            </div>
            <div class="row">
                <div class="col-xs-10 col-md-10 col-md-offset-1 col-xs-offset-1">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Subject</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="courseBean : ${courseBeans}" >
                                <td><a th:href="@{/system/subjects/{id}(id=${courseBean.subject.id})}" th:text="${courseBean.subject.name}">Subject</a></td>
                                <td><a th:href="@{/system/courses/{id}(id=${courseBean.id})}" th:text="${courseBean.name}">Name</a></td>
                                <td><a th:href="@{/system/schools/{id}(id=${courseBean.subject.school.id})}" th:text="${courseBean.subject.school.name}">School</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>