<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
    <head>
        
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        
        <script th:replace="../templates/header:: jquery" />
        <script th:replace="../templates/header:: jqueryui" />
        <link th:replace="../templates/header:: jqueryuicss" />
        <link th:replace="../templates/header:: bootstrap" />
        <link th:replace="../templates/header:: bootstraptheme" />
        <script th:replace="../templates/header:: bootstrapjs" />
        
        <title>Subject</title>
        
    </head>
    <body>
        <div th:replace="../templates/header :: topmenubar">Menu Bar</div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-11 col-sm-offset-1">
                    <h1 th:text="${subjectBean.name}">Subject</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-xs-1">
                    <div>Side Bar</div>
                </div>
                <div class="col-sm-10 col-xs-11">
                    <div class="row">
                        <div class="col-sm-5 col-sm-offset-0 col-xs-11 col-xs-offset-1">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    Subject 
                                </div>
                                <div class="panel-body">
                                    Goign to put list here of subject info
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5 col-sm-offset-0 col-xs-11 col-xs-offset-1">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    Courses related to subject 
                                </div>
                                <div class="panel-body">
                                    list of courses related to subject
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>