/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 17, 2016, 5:11:38 PM
    Author     : Kevin W
*/

#sidebar {
   background-image: linear-gradient(to bottom, #337ab7 0px, #265a88 100%);
   background-repeat: repeat-x;
   border-color: #245580;
   border-radius: 10px;
   border: 2px inset #999999;
   height: 100%;
   margin-left: -25px;
   overflow-y: auto;
   position: fixed;
   width: 15%;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 5%;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #ffffff;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}